body {
  text-align: center;

  }


.header {
  background: url(file:///Users/teege/Documents/projects/Broadway/resources/images/the-flatiron-building.png)
}

.header a {
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
