/* All content */
body {
  text-align: center;
  }

.hero {
  background: url(file:///Users/teege/Documents/projects/broadway/resources/images/the-flatiron-building.png)
}

/* Header */
.hero a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/* Main Section */
h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

/* Lower Section */
.lower h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* Footer Section */
.footer {
  font-family: Helvetica;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footer a {
  color: white;
}
