/* All content */
body {
  text-align: center;
  }

/* Header */
.header {
  background: url(file:///Users/teege/Documents/projects/Broadway/resources/images/the-flatiron-building.png)
}

.header a {
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/* Main Section */
h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}
